confidence-live-chart {
margin-right: 10px;
width: 100%;
}

flash-poll-monitor {
float: right;
margin-right: 10px;
margin-top: 1em;
width: 100%;
}

.adminLiveFeed {
margin-top: 3em;
width: 500px;
float: right;
margin-right: 10px;
width: 100%;
}
