
admin-dashboard .row .col.l12 {
  padding-left: 0px;
}

admin-dashboard .row .col.m12 {
  padding-left: 0px;
}

confidence-live-chart {
  margin-right: 10px;
  width: 100%;
}

.adminLiveFeed {
  margin-top: 3em;
  width: 500px;
  float: right;
  margin-right: 10px;
  width: 100%;
}

admin-dashboard .confidenceSvg {
  height:80%
}

admin-dashboard .flashPollDiv {
    padding-left: 0px;
    max-height: 220px;
}

@media (max-width: 993px) {

    admin-dashboard .flashPollDiv {
        margin-top: 20px;
    }

    admin-dashboard live-feed {
        margin-top: 30px;
    }

}
