
.row .col.l12 {
  padding-left: 0px;
}

confidence-live-chart {
  margin-right: 10px;
  width: 100%;
}

.adminLiveFeed {
  margin-top: 3em;
  width: 500px;
  float: right;
  margin-right: 10px;
  width: 100%;
}

admin-dashboard .confidenceSvg {
  height:80%
}
