.pieChartBody {
  font: 10px sans-serif;
}

.arc path {
  stroke: #fff;
}
.ChartText {
 font-size: 18pt;

}
.flexGrid {
  display: flex;
  justify-content: center;
}
#targetContainer{
  padding: 10px;
  /*margin-bottom: 20px;*/
  /*height: 100%;*/
display: flex;
flex-wrap: wrap;
justify-content: space-between;

}
.agGrid {

}

.gridContainer{
display: flex;
justify-content: center;

}
.gridMaster{
  justify-content: center;
}
.pieT{
  /*padding: 1px;*/
}

#targetContainer{
  background-color:#F9F9F9;
  margin: 5px;
  border:1px solid #3f3f3f;
}
