.pieChartBody {
  font: 10px sans-serif;
}

.arc path {
  stroke: #fff;
}
.ChartText {
 font-size: 18pt;

}

#targetContainer{
  padding: 10px;
  /*margin-bottom: 20px;*/
  height: 100%;

}
.agGrid {

}

.gridContainer{

}
