/* {
  outline:1px solid red;
}/**/


learning-objective {
    display: block;
    background-color: #FAFAFA;
    /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.27);*/

}

learning-objective p {
    margin: 0;
    padding: 0;
}

learning-objective .row {
    display: flex;
    margin-bottom: 0px;
}

learning-objective .learning-objective-text {
    display: flex;
    align-self: center;

}

learning-objective .learning-objective-text .col {
    align-self: center;
}

learning-objective .range-field {
  position:relative;
  top:7px
}

learning-objective .current-percentage {
    display: flex;
    align-self: center;
}

learning-objective .current-percentage p {
    color: black;
}
