/* {
  outline:1px solid red;
}/**/

.learningObjectiveTitle {
  font-size: 20px;
}
.liveFeedText {
  font-size: 12px;
  color: white;
  margin-top: 5px;
}
learning-objective {
    display: block;
    background-color: #eefdf6;

    background-color: #FAFAFA;

}

learning-objective p {
    margin: 0;
    padding: 0;
}

learning-objective .row {
    display: flex;
    margin-bottom: 0px;
}

learning-objective .learning-objective-text {
    display: flex;
    align-self: center;

}

learning-objective .learning-objective-text .col {
    align-self: center;
}

learning-objective .range-field {
  position:relative;
  top:7px
}

learning-objective .current-percentage {
    display: flex;
    align-self: center;
}

learning-objective .current-percentage p {
    color: black;
}

learning-objective .noLearningObjs {
    color: gray;
}

learning-objective .subtitle {
    font-size: .6em;
}
