/* {
  outline:1px solid red;
}/**/

<<<<<<< HEAD
learning-objective .range-field {
  margin: 0px;
  margin-bottom: -4px;
  border: 1px solid;
=======
learning-objective {
    display: block;
    background-color: #eefdf6;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.27);
>>>>>>> 06f84ea7c9674f02abfe2ab531176575cf3cc359
}

learning-objective p {
    margin: 0;
    padding: 0;
}

learning-objective .row {
    display: flex;
    margin-bottom: 2px;
    
}

learning-objective .learning-objective-text {
    display: flex;
    align-self: center;
    
}

learning-objective .learning-objective-text .col {
    align-self: center;
}

learning-objective .range-field {

}

learning-objective .current-percentage {
    display: flex;
    align-self: center;
}

learning-objective .current-percentage p {
    color: black;
}