/** {
  outline: 1px solid red;
}*/
.commonQuestions {
  /*margin-bottom: 10px;*/
}
.textColor {
  color: black;
}
.liveFeedText {
  font-size: 14px;
  color: black;
}
.liveFeedTitle {
  color: black;
  font-size: 16px;
  margin-top: 5px;
  padding-left: 5px;
  font-weight: bold;
}
.feedContainer {
  padding: 5px;
}
.liveFeedContainer {
  margin-top: 10px;
}
