
/* {
  outline: 1px solid red;
}/**/

.liveFeed {
  height: 100%;
}

.colorBlock {
  width:100%;
  height:1.5em;
}
.colorBlockCommon {
  width:100%;
  height:.33em;
  margin-top: 10px;
}

.redBackground {
  background-color: #8D2F27;
}
.greenBackground {
  background-color: #0F7F3B;
}
.yellowBackground {
  background-color: #A98C1C;
}
.greyBackground {
  background-color: #172F5D;
}
.purpleBackground {
  background-color: #47054E;
}
.pewterBackground {
  background-color: #6f7d85;
}

.ancorDiv {
  display:flex;
}

learning-objective {
  display:block;
  background-color: #FAFAFA;
}

student-question-form {
  background-color: #FAFAFA;
  display:block;
  margin-bottom:0;
}

live-feed{
  display:block;
  height:85vh;
  background-color: #FAFAFA;
  overflow:auto;
}

student-flash-poll a{
  flex:1;
  margin:.75em;
}

student-flash-poll > div{
  background-color: mintcream;
  border: 1px solid #aaa;
  box-shadow: 5px 5px 20px rgba(0,0,0,.5);
}

@media only screen and (min-width: 992px){
  .flip{
    transform:rotateX(180deg);
  }
}
