<div class='row'>
  <div class="col s12 m4 l4">
    <a class='dropdown-button btn' href='#' data-activates='dropdownCohortOptions'>Cohort: {{is.currentCohort}}</a>
    <ul id='dropdownCohortOptions' class='dropdown-content'>
      <li ng-repeat="cohort in is.cohortOptions track by $index"><a ng-click="is.setDropdownValue(cohort)">{{cohort}}</a></li>
    </ul>
  </div>
</div>
<div class="row" ng-if="is.currentCohort !== 'Select ID...'">
  <div class="col s12 m8 l6">
    <div class="row">
      <div class="mentorQueue col s12 m12 l12">
        <div class="mentorQueueView">
          <mentor-queue cohort-id="is.currentCohort"></mentor-queue>
        </div>
        <div class="colorBlock greenBackground"></div>
        <div class="show-on-small-only col s12" style="height:1.5em"></div>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l6">
    <div class="col hide-on-small-only m12 l6" style = "padding-left:0px;">
      <div class="row" ng-if="is.currentCohort !== 'Select ID...'">
        <confidence-live-chart cohort-id="is.currentCohort"></confidence-live-chart>
        <div class="colorBlock redBackground"></div>
      </div>
    </div>
    <div class="col hide-on-small-only m12 l6" style="max-height:220px">
      <div class="row" ng-if="is.currentCohort !== 'Select ID...'">
        <flash-poll-monitor cohort-id="is.currentCohort"></flash-poll-monitor>
          <div class="colorBlock purpleBackground"></div>
      </div>
    </div>
    <div class="row">
      <div class="liveFeedContainer col s12 m12 l12">
        <div ng-if="is.currentCohort !== 'Select ID...'">
          <live-feed cohort-id="is.currentCohort"></live-feed>
          <div class="colorBlock greyBackground"></div>
        </div>
      </div>
    </div>
  </div>

</div>
<div>
    <attendance-tracker ng-if="is.currentCohort !== 'Select ID...'" cohort-id="is.currentCohort"></attendance-tracker>
</div>
<script>
  $('.dropdown-button').dropdown({
    inDuration: 300,
    outDuration: 225,
    constrain_width: true,
    hover: false,
    gutter: 0,
    belowOrigin: true,
    alignment: 'left'
  });
</script>
