<nav>
    <div class="nav-wrapper ">
        <a href="" class="brand-logo"><img src = "app/logoonly.png"></a>
        <div ng-if="is.showAdminTags === false" class = "hide-on-med-and-down navBarTitle">Student Dashboard</div>
        <div ng-if="is.showAdminTags === true" class = "hide-on-med-and-down navBarTitle">Administrator</div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a ng-if="is.showAdminTags === true" href="#/adminDashboard">Admin Dashboard</a></li>
            <li><a ng-if="is.showAdminTags === true" href="#/statsDashboard">Stats Dashboard</a></li>
            <li><a ng-if="is.showAdminTags === true" href="#/instructorDashboard">Instructor Dashboard</a></li>
            <li><a ng-click = "is.logoutUser()">Logout</a></li>
        </ul>


        <ul id="dropdown1" class="dropdown-content">
            <li><a ng-if="is.showAdminTags === true" href="#/adminDashboard">Admin Dashboard</a></li>
            <li><a ng-if="is.showAdminTags === true" href="#/statsDashboard">Stats Dashboard</a></li>
            <li><a ng-if="is.showAdminTags === true" href="#/instructorDashboard">Instructor Dashboard</a></li>
            <li><a ng-if="is.showAdminTags === true" href="#/queueDashboard">Queue Dashboard</a></li>
            <li class="divider"></li>
            <li><a ng-click = "is.logoutUser()">Logout</a></li>
        </ul>

        <ul id="nav-mobile" class="right hide-on-large-only">
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">toc</i></a></li>
        </ul>
    </div>
</nav>

<script>
    $(document).ready(function () {
        $('.dropdown-button').dropdown();
    })
</script>
