<div class="loginPageContainer">
  <div class="loginBoxContainer">
    <div class="loginHeader">
      <img class="logo" src="app/logoonly.png">
    </div>
    <div class="loginText">LOGIN</div>
    <div class="accountText"
      <a href>Need an account?</a>
    </div>
      <div>
        <input class="enterEmail" placeholder="Enter email">
      </div>
      <div class="passwordContainer">
        <input class="enterPassword" placeholder="Enter password">
      </div>
      <div class="buttonContainer">
      <button class="submitButton">Submit</button>
    </div>
      <div class="forgotPassword">Forgot password?</div>
      <div class="socialContainer">
        <button class="gitHubButton">Login with Github</button>
        <button class="linkedinButton">Login with LinkedIn</button>
      </div>

  </div>
</div>
