<div class="loginPageContainer">
  <div class="loginBoxContainer">
    <div class="loginHeader">
      <img class="logo" src="app/logoonly.png">
    </div>
    <div class="loginText">LOGIN</div>
    <div class="accountText" <a href>Need an account?</a>
    </div>
    <div>
      <input class="enterEmail" placeholder="Enter email">
    </div>
    <div class="passwordContainer">
      <input class="enterPassword" placeholder="Enter password">
    </div>
    <div class="buttonContainer">
      <button class="submitButton">Submit</button>
    </div>
    <div class="forgotPassword">Forgot password?</div>
    <div class="socialContainer">
      <button class="gitHubButton">Login with Github</button>
      <button class="linkedinButton">Login with LinkedIn</button>
    </div>

  </div>
</div>

<div class="attendanceContainer" ng-show='showAttendanceShow'>
  <div class="attendanceHeader">
    <img class="logo" src="app/logoonly.png">
    <div class="attendanceText">Attendance</div>
  </div>
  <div class="studentAttendanceContainer">
    <div class="studentName">Bryan Schauerte</div>
    <div class="checkInContainer">
      <input class="checkIn" placeholder="Time-In"></input>
      <input class="checkOut" placeholder="Time-Out"></input>
      <input class="dailyScore" placeholder="Daily"></input>
    </div>
    <div class="studentName">Brack Carmony</div>
    <div class="checkInContainer">
      <input class="checkIn" placeholder="Time-In"></input>
      <input class="checkOut" placeholder="Time-Out"></input>
      <input class="dailyScore" placeholder="Daily"></input>
    </div>
    <div class="studentName">David Giles</div>
    <div class="checkInContainer">
      <input class="checkIn" placeholder="Time-In"></input>
      <input class="checkOut" placeholder="Time-Out"></input>
      <input class="dailyScore" placeholder="Daily"></input>
    </div>
    <div class="studentName">Nathan Allen</div>
    <div class="checkInContainer">
      <input class="checkIn" placeholder="Time-In"></input>
      <input class="checkOut" placeholder="Time-Out"></input>
      <input class="dailyScore" placeholder="Daily"></input>
    </div>
    <div class="studentName">Samson Nelson</div>
    <div class="checkInContainer">
      <input class="checkIn" placeholder="Time-In"></input>
      <input class="checkOut" placeholder="Time-Out"></input>
      <input class="dailyScore" placeholder="Daily"></input>
    </div>

    <button class="btn waves-effect waves-light submitDay" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>


</div>
<input class="attendanceButton" type="submit" ng-click='showAttendanceShow = !showAttendanceShow' value='ATTENDANCE'>
