
<!-- this button can be moved as long as you add attribue to the element hideMenu = !hideMenu -->
<button class = "showAttendanceButton" ng-click = "is.hideDisplay()">Show Attendance</button>


<div class="attendanceContainer" ng-cloak ng-show='users !=[] && !is.hideMenu'>
  <div class="attendanceHeader">
    <img class="logo" src="app/logoonly.png">
    <div class="attendanceText">Attendance</div>
  </div>

<button ng-click = "is.hideDisplay()">Hide Attendance</button>

<!-- <input type="datetime-local" /> -->

  <div class="studentAttendanceContainer row" ng-repeat = "user in is.users">
    <div class="studentName">{{user.firstName}} {{user.lastName}}</div>
    <div class="checkInContainer row">
      <div class = "col s4">
        <button class="waves-effect waves-light btn checkIn" ng-click = "is.timeInButton(user)" ng-hide = "user.attendanceData.timeIn">Time In</button>

        <!-- <div ng-hide = "showTimeChangeButton">

          <button  class="waves-effect waves-light btn checkIn" ng-click = "is.updateTime(user.newtime)">Change from 9am</button>
        <input type="time" id="exampleInput" name="input" ng-model= "user.attendanceData.timeIn"
            placeholder="HH:mm:ss" min="08:00:00" max="17:00:00" required />

          </div> -->


        <button ng-hide = "!user.attendanceData.timeIn">{{ user.attendanceData.timeIn | date:"MM/dd/yyyy 'at' h:mma"}}</button>
      </div>

      <div class = "col s4">
      <button class="waves-effect waves-light btn checkOut" ng-click = "is.timeOutButton(user)" ng-hide = "user.attendanceData.timeOut">Time Out</button>
      <button ng-hide = "!user.attendanceData.timeOut">{{ user.attendanceData.timeOut | date:"MM/dd/yyyy 'at' h:mma"}}</button>
      </div>


      <div ng-init = "is.doIt()" class="col s4">

        <select class = "browser-default multiScore " ng-class = "{multiScoreValueAdded: user.attendanceData.score}" ng-change = "is.changeScore(user)" ng-model= "user.attendanceData.score">
          <option value="" disabled selected>Daily Score</option>
          <option value="number:1">1 of 3</option>
          <option value="number:2">2 of 3</option>
          <option value="number:3">3 of 3</option>

        </select>


      </div>


    </div>
  </div>

</div>
