<div class="row" style="margin-top:1em;">
    <div id="statsDashboard" class="col s12">
        <div class="col s1">
            <a class='dropdown-button btn' href='#' data-activates='dropdownStatsOptions'>{{is.currentStatType.label}}</a>
            <ul id='dropdownStatsOptions' class='dropdown-content'>
                <li ng-repeat="statType in is.statTypeOptions track by $index"><a ng-click="is.setDropdownValue(statType)">{{statType.label}}</a></li>
            </ul>
        </div>
        <div class="col s11">
            <chart-stats-attendance ng-show="is.currentStatType.value === 'chartStatsAttendance'"></chart-stats-attendance>
            <chart-stats-confidence ng-show="is.currentStatType.value === 'chartStatsConfidence'"></chart-stats-confidence>
            <queue-stats-chart ng-show="is.currentStatType.value === 'queueStatsChart'"></queue-stats-chart>

        </div>
    </div>
</div>

<script>
    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: true,
        hover: false,
        gutter: 0,
        belowOrigin: true,
        alignment: 'left'
    });
</script>