<div id="statsDashboard" class="col s12">
    <div class="col s1">
        <a class='dropdown-button btn' href='#' data-activates='dropdownAttendanceOptions'>{{is.currentAttendanceType.label}}</a>
        <ul id='dropdownAttendanceOptions' class='dropdown-content'>
            <li ng-repeat="attendanceType in is.attendanceTypeOptions"><a ng-click="is.setDropdownValue(attendanceType)">{{attendanceType.label}}</a></li>
        </ul>
    </div>

<input type="date">

<script>
    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: true,
        hover: false,
        gutter: 0,
        belowOrigin: true,
        alignment: 'left'
    });
</script>