
    <div class="row" style = "margin-top:1em;">
      <div id="studentDashboard" class="col s12">
        <div class = "col s12 m8 l10">
          <div class = "row">

              <div class="learningObjectives col s12 m12 l7" style = "align-self:flex-end;">
                <learning-objective></learning-objective>
                <div class = "colorBlock redBackground"></div>
              </div>
              <div class = "hide-on-large-only col s12" style = "height:1.5em" ></div>

            <div class="dayNotes col s12 m12 l5" style = "align-self:flex-end;">

                <day-notes></day-notes>
                <div class = "colorBlock yellowBackground"></div>
            </div>

          </div>
          <div class = "row">
            <div class="queueInput col s12">
              <student-question-form></student-question-form>
              <div class = "colorBlock greenBackground"></div>
            </div>
          </div>
          <div class = "row">
            <div class="flashPoll col s12">
              <student-flash-poll></student-flash-poll>
              <div class = "colorBlock purpleBackground"></div>
            </div>
          </div>
        </div>
        <div class="liveFeed col s12 m4 l2">
          <live-feed></live-feed>
          <div class = "colorBlock greyBackground"></div>
        </div>
      </div>
    </div>
