<div class="row" style="margin-top:1em;">
    <div id="studentDashboard" class="col s12">

        <div class="col s12 m8 l8">

            <div class="row" ng-show = "objectives">
                <div class="hide-on-large-only col s12" style="height:1.5em"></div>
                <div class="learningObjectives">
                    <learning-objective objectives="objectives"></learning-objective>
                    <div class="colorBlock redBackground"></div>
                </div>
            </div>

            <div class="row">

                    <student-question-form objectives="objectives"></student-question-form>
                    <div class="colorBlock greenBackground"></div>

            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="row"  ng-show = "trackables">
                <div class="dayNotes">
                    <day-notes trackables="trackables"></day-notes>
                    <div class="colorBlock yellowBackground"></div>
                </div>
            </div>
            <div class="row">
                <live-feed></live-feed>
                <div class="colorBlock greyBackground"></div>
            </div>
        </div>

        <div class="flashPoll col s12">
            <student-flash-poll></student-flash-poll>

        </div>
    </div>
</div>
