
    <div class="row" style = "margin-top:1em;">
      <div id="studentDashboard" class="col s12">
        <div class = "col l10">
          <div class = "row" style = "display:flex;">
            <div class="learningObjectives col l7" style = "align-self:flex-end">
              <learning-objective></learning-objective>
              <div class = "colorBlock redBackground"></div>
            </div>
            <div class="dayNotes col l5" style = "align-self:flex-end">

                <day-notes></day-notes>
                <div class = "colorBlock yellowBackground"></div>

            </div>
          </div>
          <div class = "row">
            <div class="queueInput col l12" style = "padding-right:0">
              <student-question-form></student-question-form>
              <div class = "colorBlock greenBackground"></div>
            </div>
          </div>
          <div class = "row">
            <div class="flashPoll col l12" style = "padding-right:0">
              <student-flash-poll></student-flash-poll>
              <div class = "colorBlock purpleBackground"></div>
            </div>
          </div>
        </div>
        <div class="liveFeed col l2">
          <live-feed></live-feed>
          <div class = "colorBlock greyBackground"></div>
        </div>
      </div>
    </div>
