

<div class="row">
  <div class="col s12">
    <div class="">
      <div class="">

        <div class="center-align">Would you like to share your question and solution?</div>

        <!-- <h2>Your question:</h2><br> -->
          <h5>{{si.question.question}}</h5>
        <div class="input-field col s12">
          <textarea class="materialize-textarea" id="textarea1" ng-model="si.question.studentSolution"></textarea>
          <label for="textarea1">The solution</label>
        </div>
      </div>
      <div class="card-action">
        <a  style="margin-left: 3%" class="green-text" ng-click="si.shareInput()">Share</a>
        <a style="margin-left: 3%" class="red-text" ng-click="si.noShareinput()">Don't share</a>
      </div>
    </div>
