
<div class="row">

    <div class = "col s4">
    <p></p>
    </div>

        <!-- <div class="col s6 m6 landingPagePosition"> -->
    <div class="row landingPagePosition">
      <div class="col s4 m4">
        <div class="card">
          <div class="card-image flexImageCenter ">
            <img class = "imageForBack" src="../css/photos/q-logo.jpg">
            <span class="card-title black-text"><h4>The</h4></span>
          </div>

          <!-- <div class="card-content behindText black-text"> -->
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header" class = "flow-text">Get Help</div>
                <div class="collapsible-body"><p  class = "flow-text center-align">Enter The Q to get personal help</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons"></i class = "flow-text">Learn</div>
                <div class="collapsible-body"><p class = "flow-text center-align">Gain access to other questions and answers of other students</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons"></i class = "flow-text">Goals</div>
                <div class="collapsible-body"><p class = "flow-text center-align">Find today's learning objective</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons"></i class = "flow-text">Influence</div>
                <div class="collapsible-body"><p class = "flow-text center-align">Let your instructors know how you feel about today's topics</p></div>
              </li>
            </ul>
          <!-- </div> -->

          <div class="card-action black">
            <a href="#/login" class = "black"><h4 class = "center-align loginNowText">Log in now!</h4></a>
          </div>
        <!-- </div> -->
      </div>
    </div>

      </div>
      <div class = "col s4"><p></p>
      </div>
</div>
